@import "tailwindcss";
@import "./fonts.css";
@import "./App.css";

@theme {
  /* Fonts */

  /* YekanBakh Fonts */
  --font-yekanBold: "YekanBakh-Bold";
  --font-yekanHeavy: "YekanBakh-Heavy";
  --font-yekanMedium: "YekanBakh-Medium";
  --font-yekanRegular: "YekanBakh-Regular";
  /* Morabba Fonts */
  --font-morabbaBold: "Morabba-Bold";
  --font-morabbaLight: "Morabba-Light";
  --font-morabbaMedium: "Morabba-Medium";

  /* Fonts Weight */
  --font-weight-extrabold: 800;

  /* Font Sizes */
  --text-text-22: 1.375rem;

  /* Colors */
  --color-primary: #fd295c;
  --color-secondary: #f32770;
  --color-success: #1ebd71;
  --color-dark: #31303a;
  --color-text-primary: #3a3944;
  --color-text-secondary: #494857;
  --color-tuna: #383742;
  --color-dawn: #a5a5a5;
  --color-mobster: #7b7892;
  --color-gray: #a5a3ba;
  --color-whiteSmoke: #f6f6f6;
  --color-haiti: #2f2e36;
  --color-smokeyGrey-100: #3f3e49;
  --color-smokeyGrey-200: rgba(114, 114, 144, 0.53);
  --color-balticSea-100: #292832;
  --color-balticSea-200: #28272e;
  --color-balticSea-300: #24232b;
  --color-balticSea-400: #24232a;
  --color-white-5: #ffffff0d;
  --color-offWhite: #f8f8fb;
  --color-mobster: #b2b2be;
  --color-success: #25bb85;
  --color-warning: #ed9446;
  --color-danger: #ff505a;
  --color-softPink: #fad7d7;
  --color-crimson: #e93051;
  --color-slate: #787986;
  --color-cloud: #ececf4;
  --color-iceBlue: #f1f5fc;

  /* BreakPoints */
  --breakpoint-xs: 460px;

  /* Animations */
  --animate-fadeIn: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
